body {
  margin: 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
}
.search .form-group {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.search .form-group .random-btn {
  font-size: 2rem;
}
.search .form-group .random-btn:hover {
  cursor: pointer;
}
.search .form-group .search-input {
  padding: 4px 8px;
  font-size: 1.2rem;
  margin-left: 8px;
}
.search .history {
  margin-top: 4px;
}
.search .history .history-item {
  display: inline-block;
  background-color: rgb(255, 153, 116);
  padding: 4px 8px;
  border-radius: 8px;
}
.search .history .history-item:hover {
  cursor: pointer;
}
.search .theme-btn {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}
.search .theme-btn:hover {
  cursor: pointer;
}

.search-result {
  margin-top: 24px;
}
.search-result .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1rem;
  justify-content: center;
  max-width: 1248px;
  margin: 0 auto;
}
.search-result .container .item {
}
.search-result .container .item img {
  display: block;
  width: 100%;
}
.search-result .container .item img.lazy {
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
}
.search-result .container .item img:hover {
  display: block;
  width: 100%;
  cursor: pointer;
}
.search-result .scroll-observer {
  width: 100%;
  height: 16px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container.hidden {
  display: none;
}
.modal-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
.modal-container .content {
  width: 600px;
  background-color: #fff;
  z-index: 1;
}
@media (max-width: 768px) {
  .modal-container .content {
    width: 400px;
  }
}
.modal-container .content .modal-content-header {
  text-align: right;
}
.modal-container .content .modal-content-header span {
  display: inline-block;
  padding: 4px 8px;
}
.modal-container .content .modal-content-header span:hover {
  cursor: pointer;
}
.modal-container .content img {
  width: 100%;
}
