.search {
}
.search .random-btn {
}
.search .search-input {
}

.search-result {
}
.search-result .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.search-result .container .item {
}
